.container {
  min-height: 100vh;
}

.header {
  border-bottom: 1px solid #eaeaea;
  padding: 1rem;
}
.main {
  display: flex;
  min-height: 86vh;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a:hover {
  color: skyblue;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

